*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e2f;
    font-family: Arial, Helvetica, sans-serif;
}
.music-player{
    width: 350px;
    padding: 25px;
    background: #2b2b40;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
.cover img{
   width: 250px;
   height: 250px;
   object-fit: cover;
   border-radius: 15px;
   margin-bottom: 20px;
}
.song-info h1{
    color: white;
    font-size: 24px;
    margin-bottom: 8px;
}
.song-info p{
    color: white;
    font-size: 16px;
    margin-bottom: 25px;
}
.progress-container{
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 12px;
}
#progress-bar{
    flex: 1;
    cursor: pointer;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}
.controls button{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #494963;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#play{
    width: 65px;
    height: 65px;
    background: white;
    color: #2b2b40;
    font-size: 25px;
}
.controls button:hover{
    transform: scale(1.08);
}